[submodule "HelloWorld"]
	path = HelloWorld
	url = git@github.com:davies-tl/HelloWorld.git
	branch = master
[submodule "Git-Test"]
	path = Git-Test
	url = git@github.com:davies-tl/Git-Test.git
	branch = master
