[submodule "HelloWorld"]
	path = HelloWorld
	url = git@github.com:davies-tl/HelloWorld.git
	branch = master
[submodule "Git-Test"]
	path = Git-Test
	url = git@github.com:davies-tl/Git-Test.git
	branch = master
[submodule "Happy-Easter-"]
	path = Happy-Easter-
	url = git@github.com:davies-tl/Happy-Easter-.git
	branch = master
[submodule "ClassGrade"]
	path = ClassGrade
	url = git@github.com:davies-tl/ClassGrade.git
	branch = master
[submodule "InterestCalculator"]
	path = InterestCalculator
	url = git@github.com:davies-tl/InterestCalculator.git
	branch = master
[submodule "EmployeeList"]
	path = EmployeeList
	url = git@github.com:davies-tl/EmployeeList.git
	branch = master
[submodule "ClassGrades"]
	path = ClassGrades
	url = git@github.com:davies-tl/ClassGrades.git
	branch = master
[submodule "Weights"]
	path = Weights
	url = git@github.com:davies-tl/Weights.git
	branch = master
[submodule "MonthlyBudget"]
	path = MonthlyBudget
	url = git@github.com:davies-tl/MonthlyBudget.git
	branch = master
[submodule "MovieData"]
	path = MovieData
	url = git@github.com:davies-tl/MovieData.git
	branch = master
[submodule "doSomething"]
	path = doSomething
	url = git@github.com:davies-tl/doSomething.git
	branch = master
[submodule "Median"]
	path = Median
	url = git@github.com:davies-tl/Median.git
	branch = master
[submodule "MortgagePayment"]
	path = MortgagePayment
	url = git@github.com:davies-tl/MortgagePayment.git
	branch = master
[submodule "TestScores"]
	path = TestScores
	url = git@github.com:davies-tl/TestScores.git
	branch = master
[submodule "DayOfYear"]
	path = DayOfYear
	url = git@github.com:davies-tl/DayOfYear.git
	branch = master
[submodule "ProductionWorker"]
	path = ProductionWorker
	url = git@github.com:davies-tl/ProductionWorker.git
	branch = master
[submodule "VirtualFunction"]
	path = VirtualFunction
	url = git@github.com:davies-tl/VirtualFunction.git
	branch = master
[submodule "AbstractClassShape"]
	path = AbstractClassShape
	url = git@github.com:davies-tl/AbstractClassShape.git
	branch = master
[submodule "FractionOverloadedDivision"]
	path = FractionOverloadedDivision
	url = git@github.com:davies-tl/FractionOverloadedDivision.git
	branch = master
[submodule "NumDays"]
	path = NumDays
	url = git@github.com:davies-tl/NumDays.git
	branch = master
